
.button{
}
.primary-btn{
    border: none;
    padding: 5px 10px;
    margin-block: 5px;
    font-size: x-small;
    border-radius: 2px;
    font-family: poppins;
    cursor: pointer;
    transition: 0.5s all;
}
.primary-btn:hover{
    transition: 0.5s all;
    padding: 5px 15px;
    background-color: var(--secondary-color);
}