footer{
    padding: 10px;
    background-color: white;
    text-align: center;
    width: 100%;
    grid-area: footer;
    display: none;
}

@media (max-width: 490px){
    footer{
        display: none;
    }
}