.grok{
    display: flex;
     height: 100dvh;
    background-color: rgb(29, 107, 107);
}
.grok .process_tab{
    grid-column: 2;
    background-color: aliceblue;
    width: 50dvw;
    height: 80dvh;
    justify-self: right;
    align-self: center;
}
.process_tab .chat_output{
    background-color: aqua;
    width:100%;
    height: 100%;
}