.grok{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    width: 100%;
    max-height: 100dvh;
    grid-row: 1 / span 3;
}
.grok .loaderContent{
    color: var(--text-color);
    opacity: 0.5;
    text-align: left;
    font-size: 10px;
    margin-left: 0;
    padding-top: 10px;
}
.grok .process_tab{
    width: 60%;
    max-height: 80dvh;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background-color: var(--transparent-dark-bg);
    border-radius: 10px;
    padding-bottom: 30px;
    color: var(--text-color);
}
.process_tab h3{
    padding: 30px 0px;
    width: 100%;
    text-align: left;
}
.neon-effect{
    box-shadow: -10px -2px 15px rgba(255, 255, 0, 0.155), 2px 2px 10px rgba(177, 6, 6, 0.577);
    background-color: black;
}
.process_tab .chat_output{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    /* background-color: aqua; */
    overflow-y: scroll;
    overflow-wrap: anywhere;
    overscroll-behavior: smooth;
    max-height: 100%;
}
.process_tab .chat_output::-webkit-scrollbar{
    background-color: var(--secondary-color);
    width: 0px;
}
.chat_output p{
    display: flex;
    text-align: left;
    margin-left: 0;
}
.chat_output p > span:nth-child(1){
    padding-inline: 5px;
    font-family: Poppins;
    height: 100%;
}
.grok input{
    border: none;
    font-size: 16px;
    margin:  0 auto;
    width: 50%;
    padding: 10px 10px;
    border-radius: 20px;
    color: var(--text-color);
    margin-top: 5px;
}
.round{
    border-radius: 50%;
}
.grok input::placeholder{
    font-size: smaller
}
.grok .instruction{
    padding-block: 10px;
    color: grey;
    font-size: xx-small;
}
.grok .instruction > span{
    color: var(--secondary-color);
}
.userInput{
    width: 100%;
    text-align: center;
}
.buttonContainer{
    padding-inline: 10px;
}
@media (max-width: 480px){
    .grok{
        display: inline-flex;
        height: 100dvh;
        place-items: center;
    }
.grok .process_tab{
        width: 90%;
        max-height: 80dvh;
    }
    .grok .chat_output{
        height: 80%;
    }
.grok .userInput{
    width: 100%;
    display: inline-flex;
    }
    .buttonContainer{
        display: inline-flex;
        place-items: center;
        padding-inline: 0px;
    }
    .userInput input{
        width: 100%;
    }
.process_tab .chat_output::-webkit-scrollbar{
        background-color: var(--secondary-color);
    }
    .grok .instruction{
        font-size: 10px;
    }
}