header{
    grid-area: header;
    width: 100%;
    position: sticky -webkit-sticky;
    padding: 20px 20px;
    background-color: black !important;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div{
    width: 100%;
    text-align: left;
}
.o-link{
    color:var(--text-color);
}
.o-link:hover{
    background-color: var(--secondary-color);
    padding: 0px 20px;
    transition: 0.5s all;
    color: var(--text-color-dark);
}
nav .content ul{
font-size: 12px;
display: flex;
justify-content: space-evenly;
gap: 10px;
}



@media (max-width: 480px){
    nav{
        display: flex;
    }
}