header{
    grid-area: header;
    width: 100%;
    padding: 20px 20px;
    background-color: black !important;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .content ul{
font-size: 12px;
display: flex;
justify-content: space-evenly;
gap: 10px;
}



@media (max-width: 480px){
    nav{
        display: none;
    }
}