main{
    grid-area: main;
    min-height: 100dvh;
    width: 100%;
}
.home .user-container{
    width: 100%;
    height: 100dvh;
    background-image: url('https://images.unsplash.com/photo-1508522802063-da3458d34254?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    /* background: linear-gradient(to bottom, black 60%, rgb(73, 73, 1)); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    color: var(--primary-color);
    padding: 20px;
}
.user-container h3{
    font-size: 62px;
}
.user-container .content{
    grid-column: 1;
    width: 100%;
    padding: 20px;
    grid-row: 1;
    min-height: 200px;
    align-self: flex-start;
}
.content h1{
    font-size: 35px;
}
.content aside{
    display: inline-flex;
}
.svg-follow {
    width: 10%;
}
.content .in div {
    margin-top: 20px;
}
.content .in #plang{
    background-color: var(--secondary-bg);
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}
.ai-model{
    background-color: var(--transparent-dark-bg);
    border-radius: 2px;
    backdrop-filter: blur(10px);
    width: 100%;
    align-content: center;
    height: fit-content;
    padding: 20px;
    grid-column: 3;
    grid-row: 2;
}
.ai-model small{
    text-transform: capitalize;
    color: grey;
}
.ntp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    }
    .ntp .showcase {
        display: flex;
        place-items: center;
        width: 100%;
    }
    .ntp > .showcase > img{
        padding: 40px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .ntp .mini-blog{
        margin-right: 0;
        padding: 50px;

    }
    .mini-blog .mnote{
        width: 80%;
        margin-left: 0;
    }
    .mnote p{
        color: grey;
        margin-bottom: 10px;
    }
    .round-image{
        border-radius: 50%;
    }
    .input_blog{
        align-items: end;
        display: flex;
        flex-direction: column;
    }
    .input_blog textarea{
        width: 100%;
        border-radius: 2px;
        resize: none;
        font-family: Poppins;
        font-size: small;
        height: 100px;
    }
    .input_blog button{
        background-color: rgb(4, 3, 3);
        color: white;
        font-size: x-small;
        font-family: Poppins;
        cursor: pointer;
        border: none;
        padding: 5px 20px;
        margin-left: 0;
        margin-block: 2px;
        border-radius: 5px;
        transition: 0.2s all;
    }
    .input_blog button:hover{
        transition: 0.2s all;
        padding-inline: 25px;
        background-color: yellow;
        color: black;
    }
    /* Post content section */
    .postBody{
        margin-top: 20px;
        padding: 10px;
        overflow-y: scroll;
        height: 200px;
    }
    .postItem{
        border-radius: 5px;
        margin-block: 10px;
        backdrop-filter: blur(10px);
        padding: 10px;
        box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.622);
    }
    .postItem .date_p{
        font-family: Poppins;
        font-size: x-small;
    }
@media(max-width: 480px){
    .home .user-container{
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 20px;
    }
    .user-container .content{
        grid-column: 1 / span 2;
        grid-row: 1 / span 4;
        align-self: flex-end;
    }
    .ai-model{
        grid-column: 1 / span 2;
        grid-row: 5 / span 10;
    }
    .svg-follow{
        display: none;
    }
    #s2{
        flex-direction: column;
    }
    .mini-blog .mnote{
        width: 100%;
    }
    .ntp .mini-blog{
        padding: 30px;
    }
    .ntp > .showcase > img{
        padding: 0px;
    }
}