main{
    grid-area: main;
    min-height: 100dvh;
    width: 100%;
}
.home .user-container{
    width: 100%;
    height: 100dvh;
    background-image: url('https://images.unsplash.com/photo-1508522802063-da3458d34254?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    /* background: linear-gradient(to bottom, black 60%, rgb(73, 73, 1)); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    color: var(--primary-color);
    padding: 20px;
}
.user-container h3{
    font-size: 62px;
}
.user-container .content{
    grid-column: 1;
    width: 100%;
    padding: 20px;
    grid-row: 1;
    min-height: 200px;
    align-self: flex-start;
}
.content h1{
    font-size: 35px;
}
.content aside{
    display: inline-flex;
}
.svg-follow {
    width: 10%;
}
.content .in div {
    margin-top: 20px;
}
.content .in #plang{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}
.ai-model{
    background-color: rgba(0, 0, 0, 0.108);
    border-radius: 2px;
    backdrop-filter: blur(10px);
    width: 100%;
    align-content: center;
    height: fit-content;
    padding: 20px;
    grid-column: 3;
    grid-row: 2;
}
.ntp {
    display: flex;
    justify-content: stretch;
    }
    .ntp > div > img{
        object-fit: cover;
        object-position: top;
    }
@media(max-width: 480px){
    .home .user-container{
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 20px;
    }
    .user-container .content{
        grid-column: 1 / span 2;
        grid-row: 1 / span 4;
        align-self: flex-end;
    }
    .ai-model{
        grid-column: 1 / span 2;
        grid-row: 5 / span 10;
    }
    .svg-follow{
        display: none;
    }
    #s2{
        flex-direction: column;
    }
}