.home{
    grid-area: main;
    width: 100%;
}
.home .user-container{
    width: 100%;
    min-height: 100dvh;
    background-color: var(--background);
    background: radial-gradient(closest-corner at 50% 10%, rgb(37, 29, 0) 0%, rgba(0,0,0,1) 100%);
    /* background-image: url('https://images.unsplash.com/photo-1508522802063-da3458d34254?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    padding-bottom: 40px;
    place-items: center;
    grid-template-columns: repeat((auto-fill, minmax(300px, 1fr), auto));
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 90px;
}
.user-container .content{
    grid-column: 1 / 6;
    grid-row: 2 / span 6;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    color: var(--text-color);
    align-self: center;
}
.user-container .content mark{
    background-color: var(--secondary-bg);
    padding-inline: 10px;
}
.user-container .bigtitle{
    text-align: center;
}
.content .subheading{
    text-indent: 100px;
}
.content p{
    width: 50%;
}
.user-container .socialContainer{
    margin: 10px;
    width: 100%;
    color: var(--text-color);
    align-self: flex-start;
    padding-right: 40px;
    grid-column: 5;
    grid-row: 2;
}
.user-container .socialContainer .subheading{
    text-decoration: underline;
    text-underline-offset: 10px;
    color: grey;
    margin-bottom: 20px;
}
.user-container .details{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
}
.user-container .plang{
    backdrop-filter: opacity(0.5);
    border-radius: 10px;
    padding: 10px;
}
.user-container .plang img{
    margin-right: 20px;
}

.ai-model{
    background-color: black;
    border-radius: 10px;
    color: var(--text-color);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    height: fit-content;
    width: 50%;
    margin:  0 auto;
    grid-column: 1/ 6;
    grid-row: 7;
    padding: 20px;
    align-self: flex-end;
}
.ai-model small{
    text-transform: uppercase;
    font-size: x-small;
    color: grey;
}
.socialHandles{
    display: inline-flex;
    gap: 10px;
}

.ntp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    }
    .ntp .showcase {
        display: flex;
        place-items: center;
        width: 100%;
    }
    .ntp > .showcase > img{
        padding: 40px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .ntp .mini-blog{
        margin-right: 0;
        padding: 50px;

    }
    .mini-blog .mnote{
        width: 80%;
        margin-left: 0;
    }
    .mnote p{
        color: grey;
        margin-bottom: 10px;
    }
    .round-image{
        border-radius: 50%;
    }
    .input_blog{
        align-items: end;
        display: flex;
        flex-direction: column;
    }
    .input_blog textarea{
        width: 100%;
        border-radius: 10px;
        border: 2px solid black;
        resize: none;
        font-family: Poppins;
        font-size: small;
        height: 100px;
    }
    .input_blog button{
        background-color: rgb(4, 3, 3);
        color: white;
        font-size: small;
        font-family: Poppins;
        cursor: pointer;
        border: none;
        padding: 5px 20px;
        margin-left: 0;
        margin-block: 2px;
        border-radius: 5px;
        transition: 0.2s all;
    }
    .input_blog button:hover{
        transition: 0.2s all;
        padding-inline: 25px;
        background-color: yellow;
        color: black;
    }
    /* Post content section */
    .postBody{
        margin-top: 20px;
        padding: 10px;
        overflow-y: scroll;
        height: 200px;
    }
    .postItem{
        border-radius: 5px;
        margin-block: 10px;
        backdrop-filter: blur(10px);
        padding: 10px;
        box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.622);
    }
    .postItem p{
        color: var(--text-color-dark);
    }
    .postItem .date_p{
        font-family: Poppins;
        font-size: 10px;
        font-weight: bold;
        color: grey;
    }



    
@media(max-width: 480px){
    #blinnl{
        display: none;
    }
    .user-container{
        background: radial-gradient(closest-corner at 200% 10%, orange 0%, black 100%) !important;
        min-height: 100dvh;
        row-gap: 150px;
    }
    .user-container .content{
        margin-top: 100px;
        grid-row: 1 / span 2;
        width: 100%;
        align-self: flex-end;
    }
    .content .subheading{
        text-align: center;
    } 
    .content p{
        width: 100%;
        padding-inline: 10px;
        text-align: center;
    }
    .user-container .socialContainer{
        grid-row: 3;
        grid-column: 1 / span 6;
        padding: 20px;
        margin: 0;
        width: 100%;
    }
    .ai-model{
        grid-row: 4;
        grid-column: 1 / span 6;
        width: 100%;
    }
    .bigtitle{
        width: 100%;
        word-wrap: normal;
        font-size: 50px;
    }
    .mini-blog .mnote{
        width: 100%;
    }
    .ntp .mini-blog{
        padding: 30px;
    }
    .ntp > .showcase > img{
        padding: 0px;
    }
    .user-container .plang{
        margin-top: 10px;
        background-color: var(--secondary-bg);
        position: relative;
        transition: 0.2s all;
    }
    #plang img:hover{
        scale: 1.5;
        transition: 0.2s all;
    }
}