.layout{
    background-color: rgb(255, 255, 255);
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    position: relative;
}
.layout > *{
    background-color: rgb(255, 255, 255);
}