#root{
    --primary-color: white;
    --secondary-color: grey;
    --text-color: white;
    --text-color-dark: black;
    --background: black;
    --secondary-bg: white;
    --transparent-dark-bg:rgba(0, 0, 0, 0.108);
    --accent-color: ;
    --outline: ;
    --body-text: ;
    --heading-text: ;
    --default-image: ;
}
.subheading{
    color: var(--secondary-color);
}
.mini-subhead{
    text-transform: uppercase;
    font-size: x-small;
    color: grey;
}
.bigtitle{
    font-size: 120px;
}
.thumbnail-cover{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
@media (max-width: 480px) {
    .thumbnail-cover{
        height: 100px;
    }
}