@import "tailwindcss";

:root {
  font-family: Poppins;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0 auto;
  margin: 0 auto;
}
p{
  font-family: Noto Sans;
}
h1,h2,h3, h4, h5{
  font-family: Montserrat;
}