:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: white;
  --secondary-color: yellow;
  --background: ;
  --accent-color: ;
  --outline: ;
  --body-text: ;
  --heading-text: ;
  --default-image: ;
}
*{
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}
p, a, li{
  font-size: 12px;
  font-family: Poppins;
}
h1,h2,h3,h4,h5,h6{
  font-family: Montserrat;
}
ul, li,a{
  text-decoration: none;
  list-style-type: none;
}
.full-s{
  height: 100dvh;
}
.half-s{
  height: 50dvh;
}
.quart-s{
  height: 25dvh;
}
.highlight {
  color: var(--secondary-color);
}