.big-circle-button {
  background-color: black;
  color: white;
  width: 10rem;
  height: 10rem;
  padding: 0.1rem;
  border-radius: 50%;
  border: none;
  margin-block: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
