.header {
  min-width: 100%;
  margin: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: 0.5rem;
  border-radius: 10px;
  color: black;
}
.header h2 {
  font-size: 1rem;
  font-weight: bold;
}
.header a {
  color: black;
  text-decoration: none;
}

.tags {
  cursor: pointer;
}
.tags:hover {
  background-color: #343434;
}
.tags:active {
  background-color: #343434;
}
.tags:focus {
  background-color: #343434;
}

@keyframes logoAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
